<section class="thirteen columns container">
    <h1>Certifications</h1>
    <article>
        <header>
            <h1>AWS Certified Cloud Practitioner</h1>
            <span><a href="https://www.credly.com/badges/8e265073-4dea-4cb4-86b7-0cd4d1f83044/public_url">Amazon Web Services Training and Certification</a> </span>
        </header>
    </article>
    <article>
        <header>
            <h1>Migration Ambassador Foundations (Business)</h1>
            <span><a href="https://www.credly.com/badges/a8020e68-b493-4862-8d0d-7a0ab4e3060e/public_url">Amazon Web Services Training and Certification</a> </span>
        </header>
    </article>
    <article>
        <header>
            <h1>AWS Partner: Cloud Economics Accreditation</h1>
            <span><a href="https://www.credly.com/badges/da13f197-a132-4ccf-9abe-cdd3a9c047bb/public_url">Amazon Web Services Training and Certification</a> </span>
        </header>
    </article>
    <article>
        <header>
            <h1>AWS Partner: Accreditation (Business)</h1>
            <span><a href="https://www.credly.com/badges/b5660cff-5064-4fd3-94c3-c20320cf4518/public_url">Amazon Web Services Training and Certification</a> </span>
        </header>
    </article>
    <article>
        <header>
            <h1>AWS Partner: Accreditation (Technical)</h1>
            <span><a href="https://www.credly.com/badges/2652adbb-ce98-4146-9d7a-f58445877fdb/public_url">Amazon Web Services Training and Certification</a> </span>
        </header>
    </article>
</section>
