<section class="thirteen columns container">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Master of Technology (IT)</h1>
            <span>B. S. Abdur Rahman University</span>
            <span><address>Chennai, India</address><time>2013</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Bachelor of Technology (IT)</h1>
            <span>Kalasalingam University</span>
            <span><address>Krishnankoil, India</address><time>2011</time></span>
        </header>
    </article>
</section>
