<section class="thirteen columns container">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>MANAGER - PROJECTS</h1>
            <span><address>Chennai, India</address><time>2013 to Present</time></span>
        </header>
        <p><i class="fa fa-globe"></i>&nbsp;&nbsp; Wrote end to end Java based framework for automation of Windows based thick clients (Winium), ETL file (EDI, CSV, TSV, PBF) and DB validations, web applications, batch processes and API which was adopted as IP ready tool by enterprise.</p>
        <p><i class="fa fa-globe"></i>&nbsp;&nbsp; Wrote end to end Java based framework for automation of Mainframe systems(f3270), ETL file and DB validations, web applications.</p>
        <p><i class="fa fa-globe"></i>&nbsp;&nbsp; Designed a self-service TDM tool with ReactJS, Spring Boot, MySQL, Oracle DB, Jenkins.</p>
        <p><i class="fa fa-globe"></i>&nbsp;&nbsp; Implemented first in class one touch Smoke and Regression CT execution of Desktop application via Jenkins Pipeline.</p>
        <p><i class="fa fa-globe"></i>&nbsp;&nbsp; Commissioned and managed multiple Docker based selenium nodes infrastructure as Continuous testing platform.</p>
        <p><i class="fa fa-globe"></i>&nbsp;&nbsp; Designed and developed a numerous Java based data automation utilities with Java for wide range of automation requirements.</p>
        <p><i class="fa fa-globe"></i>&nbsp;&nbsp; Managed employee web portal based on ASP.Net, Angular and SQL Server for Account management activities during COVID.</p>
        <p><i class="fa fa-globe"></i>&nbsp;&nbsp; Involved on designing a Big Data based Data Analysis tool with Hadoop, PySpark, Flask and ReactJS.</p>
        <p><i class="fa fa-globe"></i>&nbsp;&nbsp; Designed and implemented a life cycle automation solution to automate all phases of quality engineering life cycle.</p>
        <p><i class="fa fa-globe"></i>&nbsp;&nbsp; Developed Metrics and Lifecycle automation tools for ALM, Jira and VersionOne.</p>
        <p><i class="fa fa-globe"></i>&nbsp;&nbsp; Managed 20-member Automation team & delivered End to End automation for Large Healthcare Client in addition to functional testing delivery for some modules on need basis.</p>
        <p><i class="fa fa-globe"></i>&nbsp;&nbsp; As an Automation Architect for Healthcare vertical, provided solutions for multiple customer engagements & proposals.</p>
    </article>
</section>
