<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <article>
	<p>Below lists some of my simple projects in public.</p>
</article>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/arunprakash/WiniumSample">Winium Sample Project</a></strong>
			- Opens windows notepad paste some text, exits notepad without saving it. This project is for newbies to understand Winium.
		</h5>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/arunprakash/HPALM">HP ALM Rest API Client</a></strong>
			- Original HP code has issue, which is throwing 401 exception.
		</h5>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/arunprakash/PowerPointAutomation">PowerPoint Automation</a></strong>
			- Generates Microsoft PowerPoint Slides from Template with data from Microsoft Excel.
		</h5>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/arunprakash/WindowsProxySetting"> Windows Proxy Setting</a></strong>
			- Simple UI to set Proxy at system level. This UI will be particularly useful who will change enterprise proxy and home network frequently.
		</h5>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/arunprakash/timer"> Simple Timer</a></strong>
			-  Simple DOTNet Timer .
		</h5>
    </div>
  </div>
</div>
</section>
