<section class="thirteen columns container">
    <h1>Skills</h1>
    <article>
        <p>
            <i class="fa fa-star"></i>
            &nbsp;&nbsp;Java, .Net, Python, ReactJS, PHP
        <p>
            <i class="fa fa-star"></i>
            &nbsp;&nbsp;Spring, Birt, Hadoop, Spark
        </p>
        <p>
            <i class="fa fa-star"></i>
            &nbsp;&nbsp;Selenium, F3270, Winium
        </p>
        <p>
            <i class="fa fa-star"></i>
            &nbsp;&nbsp;Docker, Zalenium
        </p>
        <p>
            <i class="fa fa-star"></i>
            &nbsp;&nbsp;Git, Subversion, Mercurial
        </p>
        <p>
            <i class="fa fa-star"></i>
            &nbsp;&nbsp;Windows, Linux – RedHat, Fedora, Ubuntu, Mainframe
        </p>
        <p>
            <i class="fa fa-star"></i>
            &nbsp;&nbsp;Oracle, MySQL, SQL Server
        </p>
    </article>
</section>